---
import Layout from '../layouts/Layout.astro';
import Billboard from '../components/Billboard.astro';

import '../styles/styles.css';

import { popularMoviesDTO } from '../lib/popularMoviesDTO.ts';
import { popularTvSeriesDTO } from '../lib/popularTvSeriesDTO.ts';

import { Image } from 'astro:assets';

const api_key = import.meta.env.API_KEY;
const base_url = import.meta.env.URL;
const language = 'es-ES';
const image_base_url = 'https://image.tmdb.org/t/p/w342';

// fetch populars movies from tmdb api
const url_movies = `${base_url}movie/popular?api_key=${api_key}&language=${language}`;
const res = await fetch(url_movies);
const data = await res.json();
const movies = popularMoviesDTO(data.results);

// Create an array with 3 random movies
const random_movies = movies.sort(() => Math.random() - 0.5).slice(0, 3);

// fetch populars tv series from tmdb api
//const url_tv = `${base_url}tv/popular?api_key=${api_key}&language=${language}`;
//const res2 = await fetch(url_tv);
//const data2 = await res2.json();
//const series = popularTvSeriesDTO(data2.results);
---

<Layout title='Movies arg programa'>
  <main class=''>
    <h1 class='text-center text-8xl text-purple-400'>Movies</h1>
    <Billboard image={random_movies} />
    <div class='flex flex-wrap gap-8'>
      {
        movies.map((movie: any) => (
          <a href={`/movie/${movie.id}`}>
            <Image
              src={image_base_url + movie.poster_path}
              alt={movie.title}
              width={200}
              height={100}
            />
          </a>
        ))
      }
    </div>
  </main>
</Layout>
